/*--------- BODY ----------*/


body {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 0;
  background-image: url("./images/usa-flag.png");
}

.wrapper {
  height: 650px;
  border: 2px black solid;
  background-color: white;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}

h1 {
  text-align: center;
}


.trumps {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  height: 570px;
  margin-top: -150px;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 50px 70px 150px;
}

.trump {
  border: solid 2px black;
  position: relative;
  height: 100px;
  width: 100px;
  left: 0%;
  top: 0%;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  animation-direction: reverse;
  animation-timing-function: ease;
}


/*------------ NAV -----------*/

.nav {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  height: 50px;
}

/* -------- SCOREBOARDS ------------- */

.scoreboard {
  height: 50px;
    width: 80%;
  border-color: black;
border-style: solid;
border-width: 2px 2px 0 0;
}

.scoreboardFill{
  height: 50px;
  width: 0px;
  background-color: red;
}


.timeout_message_show {
  display: none;
}

.timer {
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  margin-right: 20px;
}


/* ------------------ popUps ------------------ */

.popUp {
  display: none; /* Hidden by default
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.startpopUp-content {
  background-color: white;
  border-style: dotted;
  border-width: 10px;
  border-color: red;
  padding: 20px;
  width: 40%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popUp-content {
  background-color: white;
  border-style: dotted;
  border-width: 10px;
  border-color: red;
  padding: 20px;
  width: 30vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startpopUp {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}



button {
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 10%;
  height: 50px;
  width: 100px;
  margin-top: 10px;
}

#youLose {
  display: none;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#congrats {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}



/*--------- ANIMATIONS @keyframes -----------*/


@keyframes bounce {
  0% {
    top: 0%;
  }
  25% {
    top: -10%;
  }
  50% {
    top: 0%;
  }
  75% {
    top: 30%;
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    left: 0%;
  }
  25% {
    right: -30%;
  }
  50% {
    left: -8%;
  }
  75% {
    top: 30%;
  }
  100% {
    bottom: 80%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
    translate(-72px)
    rotate(0deg);
  }
  to {
    transform: rotate(360deg)
    translate(-72px)
    rotate(-360deg);
  }
}
