body {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 0;
  background-image: url("./images/usa-flag.png");

}

.wrapper {
  height: 600px;
  border: 2px black solid;
  background-color: white;
}


h1 {
  text-align: center;
  font-family: sans-serif;
}


.trumps {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  height: 40vh;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0;
}

.trump {
  border: solid 2px black;
  position: relative;
  height: 100px;
  width: 100px;
  left: 0%;
  top: 0%;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  animation-direction: reverse;
  animation-timing-function: ease;
}






.nav {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  width: 83%;
  /* height: 80px; */
  padding-left: 100px;
  padding-right: 73px;
  background: white;
  border: 2px black solid;
}

.scoreboard {
  border: 2px solid black;
  height: 20px;
  width: 200px;
}

.scoreboardFill{
  height: 20px;
  width: 0px;
  background-color: red;
}


.timeout_message_show {
  display: none;
}


/* /////   ANIMATIONS @keyframes  /////*/


@keyframes bounce {
  0% {
    top: 0%;
  }
  25% {
    top: -10%;
  }
  50% {
    top: 0%;
  }
  75% {
    top: 30%;
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    left: 0%;
  }
  25% {
    right: -30%;
  }
  50% {
    left: -8%;
  }
  75% {
    top: 30%;
  }
  100% {
    bottom: 80%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
    translate(-72px)
    rotate(0deg);
  }
  to {
    transform: rotate(360deg)
    translate(-72px)
    rotate(-360deg);
  }
}


/* ------------------ popUps ------------------ */

.popUp {
  display: none; /* Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popUp-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startpopUp {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
